:root {
    --dark: #212121;
    --ligth: #f3f3f3;
    --font: "Odibee Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}